html {
    background-color: antiquewhite;
    font-size: 14;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}

body {
    color: #666;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

a {
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

div, h2, p, figure {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.menu {
    flex-grow: 1;
}
.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 2px 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
}
.menu li {
    margin-right: 20px;
}
.menu li:last-child {
    margin-right: 0;
}

.menu a {
    padding: 8px 10px;
}
.menu a,
.menu .active {
    display: block;
    padding: 8px 10px;
    text-transform: uppercase;
    letter-spacing: .27em;
}
.menu a {
    color: #000;
    text-decoration: none;
}

.logo {
    margin-right: 30px;
    margin-left: 10px;
}

.tel {
    font-size: 20px;
    line-height: 24px;
    margin-right: 10px;
}
.tel a {
    color: #000;
    text-decoration: none;
}